.wrapper-gradient-border {
  position: relative;
  background: linear-gradient(to bottom, #f3f3f3, #ededed);
  padding: 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 9px -5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 5px 9px -5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 5px 9px -5px rgba(0, 0, 0, 0.07);

  &__inner {
    background: #fff;
    border-radius: 3px;
    padding: 10px 20px;
  }
}

.header {
  display: flex;
  color: #7f7d77;
  padding-bottom: 15px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ededed;
}

.svg-icon {
  width: 70px;
  height: 70px;
  margin-top: -42px;
  margin-right: 16px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.337));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.337));
}